<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr (click)="navigateToTimeSheet(item)" *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.currentWeeklyEffort}}</td>
        <td>{{item.averageWeeklyEffort}}</td>
    </tr>
</table>