<div class="timesheet">
  <div>
    <div>
      <label class="employeesLabel">Select Employee:</label>
      <select (change)="changedEmployee()" [(ngModel)]="selectedEmployee">
        <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.name}}</option>
      </select>
    </div>
    <div class="weekDisplay">
      <button (click)="PreviousIndex()" href="">Previous</button>
      <p style="float: left;">Week</p>
      <button (click)="NextIndex()">Next</button>
    </div>
    <button (click)="openDialog()" class="addNewClass">
      Add
    </button>
  </div>
  <div *ngIf="addNewTimeSheetFlag">
    <select [(ngModel)]="selectedTask">
      <option *ngFor="let task of tasks" [ngValue]="task">{{task.name}}</option>
    </select>
    <!-- <tr>
      <td>

      </td>
      <td>
        <input [(ngModel)]="Sunday" />
      </td>
      <td>
        <input [(ngModel)]="Monday" />
      </td>
      <td>
        <input [(ngModel)]="Tuesday" />
      </td>
      <td>
        <input [(ngModel)]="Wednesday" />
      </td>
      <td>
        <input [(ngModel)]="Thursday" />
      </td>
      <td>
        <input [(ngModel)]="Friday" />
      </td>
      <td>
        <input [(ngModel)]="Saturday" />
      </td>
    </tr> -->
  </div>
  <table class="table margins">
    <tr>
      <th>Task Name</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <tr *ngFor="let timeSheet of timesheets">
      <td>{{timeSheet.taskName}}</td>
      <td>{{timeSheet. employeeEffortLogs[0] ? timeSheet. employeeEffortLogs[0].hours : 0}}
      </td>
      <td>{{timeSheet. employeeEffortLogs[1] ? timeSheet. employeeEffortLogs[1].hours : 0}}
      </td>
      <td>{{timeSheet. employeeEffortLogs[2] ? timeSheet. employeeEffortLogs[2].hours : 0}}
      </td>
      <td>{{timeSheet. employeeEffortLogs[3] ? timeSheet. employeeEffortLogs[3].hours : 0}}
      </td>
      <td>{{timeSheet. employeeEffortLogs[4] ? timeSheet. employeeEffortLogs[4].hours : 0}}
      </td>
      <td>{{timeSheet. employeeEffortLogs[5] ? timeSheet. employeeEffortLogs[5].hours : 0}}
      </td>
      <td>{{timeSheet. employeeEffortLogs[6] ? timeSheet. employeeEffortLogs[6].hours : 0}}
      </td>
    </tr>

  </table>

  <div class="actions">
    <button (click)="backToEmployee()" class="button">Back To List</button>
    <!-- <button (click)="addNewTimeSheet()">Save</button> -->
  </div>
</div>