@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.timesheet{
    margin-top:100px;
    margin-left:100px;
}

.employeesLabel{
    margin-right: 15px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    td, th{
        border: 1px solid #ddd;
        padding: 7px;
    }  
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1c6ca5;
        color: white;
      }
      tr:hover {background-color: #ddd;}
  }

  .margins{
      margin-top:50px;
  }

  .actions{
      margin-top: 20px;
      float: right;
      margin-right: 50px;
  }

  .button{
      margin-right: 20px;
  }

  .addNewClass{
      float: right;
      margin-right: 50px;
  }

  .weekDisplay{
      float: left;
      
}