<div>
  <h3>Adding new effort</h3>
  <label>Task Name</label>
  <select style="margin-left: 40px;" [(ngModel)]="selectedTask">
    <option *ngFor="let task of tasks" [ngValue]="task">{{task.name}}</option>
  </select>
  <div style="margin-top:34px;">
    <Label style="float: left; margin-top: 10px;">Task Date</Label>
    <div style="float: left; margin-left: 50px;">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

  </div>
  <div style="float: left; margin-top: 34px;">
    <label>Effort</label>
    <input [(ngModel)]="Effort" style="margin-left: 72px;" />
  </div>

  <div style="display: block; float: left; margin-top: 65px;">
    <button (click)="SaveEffort()" style="margin-right: 100px;">
      Save
    </button>
    <button>Cancel</button>
  </div>
</div>